@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --primaryColor: #0076de;
    --whiteColor: #fff;
    --blackColor: #333;
    --greyColor: #f6f8fa;
    --labelColor: #64b1f5;
    --yellowColor: #ffd723;
    --redColor: #ff2323;
}

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url("images/ailogin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: rgba(39, 39, 39, 0.4);
}

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39,39,39, 0.6), transparent);
    z-index: 100;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-logo img {
    height: 80px;
    width: auto;
}

.nav-logo h1 {
    font-size: 20px;
    color: #fff;
    margin: 0;
    line-height: 1.2;
}

.nav-button {
    display: flex;
    gap: 15px;
}

.nav-button .btn {
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.3);
}

#registerBtn {
    margin-left: 15px;
}

.btn.white-btn {
    background: rgba(255, 255, 255, 0.7);
}

.btn.white-btn:hover {
    background: rgba(255, 255, 255, 0.5);
}

.nav-menu-btn {
    display: none;
}

.form-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 420px;
    overflow: hidden;
    z-index: 2;
}

.login-container {
    position: absolute;
    left: 4px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

.register-container {
    position: absolute;
    right: -520px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

.top span {
    color: #fff;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.top span a {
    font-weight: 500;
    color: #fff;
    margin-left: 5px;
}

header {
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}

.two-forms {
    display: flex;
    gap: 10px;
}

.input-field {
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
}

.input-field::placeholder {
    color: #ccc;
    opacity: 1;
}

.input-box {
    position: relative;
    margin: 10px 0;
}

.input-box i {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #fff;
}

.submit {
    background: var(--primaryColor);
    border: none;
    border-radius: 30px;
    height: 50px;
    width: 100%;
    color: #fff;
    cursor: pointer;
}

.two-col {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
    color: #fff;
}

.two-col .one {
    display: flex;
    align-items: center;
    gap: 5px;
}

.two-col .one input {
    cursor: pointer;
}

.forgot-password-container {
    left: 0;
    opacity: 0;
    pointer-events: none; /* Default state */
}

.forgot-password-container.visible {
    opacity: 1;
    pointer-events: auto; /* Enable interaction when visible */
}
/* Responsive design */
@media (max-width: 768px) {
    .nav-button {
        display: none;
    }
    .nav-menu-btn {
        display: block;
    }
}

